h1 {
    font-size: 200%;
    padding: 15px;
    font-family: sans-serif;
  }
  label {
    padding-left: 7px;
    font-family: sans-serif;
  }
  p {
    margin-bottom: 10px;
    font-family: sans-serif;
  }
  table {
    margin: 0;
  }
  td {
    padding: 0 5px 0 5px;
  }
  .rating Card.Title {
    color: green;
  }
  .review-top-container {
  /*background-color: #6dc9c8;*/
  background-color: #86c4ba;
  border-radius: 25px;
  padding: 5px 5px 12px 5px;
  margin: 10px;
  }
  .review-rating-icon {
    margin: 40px 10px 10px 10px;
    background-color: green;
    border-radius: 10px;
  }
  
  .review-middle-container {

    /*f0fff3;*/
    background-color: #e1f6f4;
    /*margin-top: -16px;*/
    padding: 10px 20px 10px 20px;
    border-bottom-right-radius: 25px;
  }
  .review-bottom-container {
    background-color: #e1f6f4;
    margin-top: -16px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px 20px 25px 20px;
  }
  .review-box {
    background-color: #e1f6f4;
    border-radius: 25px;
  }
  .rating {
    color: green;
  }
  .title
  {
    color: green;
    size: 70px;
  }

  .review-topRight {
    text-align: right;
  }